* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121214;
}

canvas {
  border: 1px solid black;
  z-index: 2;
}

img {
  position: absolute;
  top: 0;
  left: calc(50% - 2px);
  transform: translate(-50%, -71px);
  z-index: 1;
  width: 360px;
  height: 625px;
}

.canvasContainer {
  margin: 75px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
